/* container */
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto minmax(0,1fr);
    row-gap: 2px;
    column-gap: 0;
    grid-template-areas: 
        ".    head"
        "line body";

    width: 100%;
    height: 100%;

    outline: none;
    
    margin: 0;
    border: 0;
    padding: 2px; /* Spacing for focus-visible outline */

    font-size: var(--comfy-textarea-font-size);
    line-height: normal;

    background: var(--comfy-input-bg);
    color: var(--input-text);
}

/* container focus-visible */
.container:has(textarea:focus-visible) {
    outline: -webkit-focus-ring-color auto 1px;

    .lineno-view {
        span.selected {
            background: gray;
        }
    }
}

/* header view */
.header-view {
    grid-area: head;

    /*width: grid - 1fr */
    height: auto;

    select {
        padding: 0.25em;

        font-family: monospace;
        font-size: var(--comfy-textarea-font-size);

        background: var(--comfy-input-bg);
        color: var(--input-text);
    }
}

/* lineno view */
.lineno-view {
    grid-area: line;

    position: relative;

    width: fit-content;
    /* height: script control - Proportional to textarea clientHeight */

    margin: 0;
    border: none;
    padding: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    pre {
        width: fit-content;
        min-width: 8px;
        /* height: script control - Proportional to textarea scrollHeight */

        margin: 0;
    }
}

/* body container */
.body-container {
    grid-area: body;

    position: relative;
    
    /* width: grid - 1fr */
    /* height: grid - 1fr */
    
    margin: 0;
    border: none;
    padding: 0;

    /* textarea */
    > textarea {
        position: absolute;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        margin: 0;
        outline: none;
        padding: 0;

        overflow-x: auto;
        overflow-y: auto;

        white-space: nowrap;

        background: transparent;
        color: transparent;

        caret-color: rgb(from var(--comfy-input-bg) calc(255 - r) calc(255 - g) calc(255 - b));
    }
}

/* highlight view */
.highlight-view {
    position: absolute;

    left: 0;
    top: 0;

    /* width: script control - Proportional to textarea clientWidth */
    /* height: script control - Proportional to textarea clientHeight */

    margin: 0;
    border: none;
    padding: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    pre {
        /* width: script control - Proportional to textarea scrollWidth */
        height: auto;

        margin: 0;
    }
}

/* suggestion view */
.suggestion-view {
    position: absolute;

    /* left: script control - Proportional to textarea caret left */
    /* top: script control - Proportional to textarea caret bottom */

    width: fit-content;
    height: auto;

    visibility: hidden;
    
    select {
        font-family: monospace;
        font-size: var(--comfy-textarea-font-size);

        background: var(--comfy-input-bg);
        color: var(--input-text);
    }
}
